<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Male_Fashion Template" />
  <meta name="keywords" content="Male_Fashion, unica, creative, html" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>OXYBOO</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet" />

  <!-- Css Styles -->
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="css/elegant-icons.css" type="text/css" />
  <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
  <link rel="stylesheet" href="css/nice-select.css" type="text/css" />
  <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
  <link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
  <link rel="stylesheet" href="css/style.css" type="text/css" />
</head>

<body>
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>

  <!-- Offcanvas Menu Begin -->
  <div class="offcanvas-menu-overlay"></div>
  <div class="offcanvas-menu-wrapper">

    <div class="offcanvas__nav__option">
      <a href="#" class="search-switch"><img src="img/icon/search.png" alt="" /></a>
      <a href="#"><img src="img/icon/heart.png" alt="" /></a>
      <a href="#"><img src="img/icon/cart.png" alt="" /> <span>0</span></a>
      <div class="price">$0.00</div>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text"></div>
  </div>


  <style>
    .header .container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    /* .log-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  } */

    .log-1 h1 {
      font-family: 'Arial', sans-serif;
      font-size: 3rem;
      font-weight: bold;
      color: #010203;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      margin: 0;
    }

    .log-1 h1 {
      position: absolute;
      margin-left: 1px;
      margin: 0%;
      right: 84%;
      top: 10%;


    }

    .header__menu {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .header__menu ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .header__nav__option {
      position: absolute;
      right: 20px;
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .mobile-menu {
      width: auto;
      margin: 0 auto;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 6%;
      box-shadow: 0px 8px 16px rgba(10, 8, 8, 0.2);
      z-index: 9999;
      /* Ensure it appears above other content */
      padding: 5px;
    }


    .dropdown-content li {
      list-style: none;
    }

    .dropdown-content a {
      color: black;
      text-decoration: none;
      display: block;
      padding: 8px 8px;

    }

    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
      align-items: center;

    }

    .dropdown {
      align-items: center;
      font-size: larger;


    }


    @media (max-width: 768px) {
      .header__menu {
        display: none;
      }

      .header__nav__option {
        position: static;
        justify-content: center;
        margin-top: 1rem;
      }
    }
  </style>

  <body>
    <!-- Header Section Begin -->
    <header class="header">
      <!-- Top Header Section -->


      <!-- Main Header Section -->
      <div class="container">
        <div class="row">
          <!-- Logo Section -->
          <div class="log-1">
            <h1>Oxyboo</h1>
          </div>

        </div>

        <!-- Navigation Menu -->
        <div class="col-lg-6 col-md-6">
          <nav class="header__menu mobile-menu">
            <ul>

              <li class="active"><a href="/">Home</a></li>
              <li>
                <a href="#">Pages</a>
                <ul class="dropdown">
                  <li><a href="./about.html">About Us</a></li>
                  <li><a href="/shop">Shop</a></li>
                  <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                  <li><a href="./checkout.html">Check Out</a></li>
                  <li><a href="./blog-details.html">Blog Details</a></li>
                </ul>
              </li>

              <!-- Uncomment for Blog or Contact links -->
              <li><a href="/shop">Shop</a></li>
              <li><a href="./blog.html">Blog</a></li>
              <li><a href="./contact.html">Contacts</a></li>

            </ul>
          </nav>
        </div>

        <!-- User Options -->
        <div class="header__nav__option">
          <% if (user) { %>
            <div class="dropdown">
              <a href="#" class="sign-in-link" style="color: #010203;">
                <%= locals.user.name %>
              </a>
              <div class="dropdown-content">
                <!-- <li class="active"><a href="./index.html">Home</a></li> -->
                <li><a href="/userProfile">Profile</a></li>
                <a href="/logout">Logout</a>
              </div>
            </div>
            <% } else { %>
              <a href="/signup" class="sign-in-link" style="color: black">Sign Up</a>
              <a href="/login" class="sign-in-link" style="color: black">Log in</a>
              <% } %>
                <a href="#" class="search-switch">
                  <img src="img/icon/search.png" alt="" />
                </a>
                 <!-- Cart Icon -->
                <a href="/shopping-cart" class="cart-icon">
                  <img src="img/icon/cart.png" alt="Cart" />
                  <span class="cart-count">0</span> <!-- Optional: Add a dynamic cart count -->
                </a>
        </div>
      </div>

      <!-- Mobile Menu Icon -->
      <div class="canvas__open">
        <i class="fa fa-bars"></i>
      </div>
      </div>
    </header>

    <!-- Header Section End -->
  </body>
</body>

</html>